@import "tailwindcss";

html {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  margin: 0;
  padding: 0;
}
